body {
    margin: 0;
}

#main-header {
    align-items: center;     /* Centers vertically */
    background-color: #345d87;
    color: #faf9f9;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center; /* Centers horizontally */
}