---
import { Font } from "astro:assets";
import { Image } from 'astro:assets';

import IMG_gardenBackground from '../images/garden-background.webp';
import IMG_sarahAndDaveUtah from '../images/sarahanddave_utah.webp';

const gardenBackground = `url("${IMG_gardenBackground.src}")`;

import RSVP from "../components/rsvp.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--Not sure why all the provided favicon files are not linked here...-->
		<link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
		<link rel="manifest" href="public/favicon/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<Font cssVariable="--font-header" />
		<Font cssVariable="--font-primary" />
		<title>Sarah and David's Wedding | July 11, 2026 @ 5 PM</title>
	</head>
	<body>
		<div id="main-header" >
			<div id="sarah-main-name">
				<h2>SARAH ELIZABETH</h2>
				<h2>PR&Egrave;OT COVINGTON</h2>
			</div>
			<h3>&</h3>
			<div id="david-main-name">
				<h2>DAVID JEFFREY ADAMS</h2>
			</div>
		</div>
		<div id="welcome-section">
			<h2>Saturday July 11th, 2026 @ 5PM</h2>
			<h3>Church of The Holy Communion</h2>
			<h4>218 Ashley Ave</h2>
			<h4>Charleston, SC 29403</h2>
			<hr/>
		</div>
		<div id="story-section">
			<h2 class="section-header">Our Story</h2>
			<Image class="center-image image-style-1" src={IMG_sarahAndDaveUtah} alt="Sarah and David in Utah"/>
			<p> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
				sagittis ex quis ligula ornare, vitae dignissim lacus elementum.
				Curabitur luctus est eros. Donec faucibus, elit nec sollicitudin
				sodales, est nunc suscipit nulla, sit amet egestas eros arcu 
				sit amet nisi. Phasellus at ligula eget ligula dictum tempus 
				ac vitae lectus. Nulla ultrices ante et est tempus hendrerit. 
				Integer ac odio at arcu luctus finibus. Nulla nec ipsum diam. 
				Cras viverra elit leo, sit amet tincidunt enim vehicula non. 
				In accumsan, sem bibendum finibus aliquam, nibh purus consequat 
				ipsum, et posuere sem tellus et eros. Sed id gravida nisl. Duis
				dapibus purus a semper efficitur. Nulla ut eros vel sapien 
				facilisis lacinia et vitae nisi. Mauris commodo, odio nec 
				porta laoreet, arcu lectus eleifend sapien, sodales aliquam ex 
				ipsum eu justo. Morbi ullamcorper porttitor nisl, eu cursus 
				urna tempus faucibus.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mauris ac pellentesque purus. Aenean a accumsan lorem, vitae 
				porttitor sapien. In vel finibus leo, et consectetur ex. Morbi 
				interdum porta tempor. Maecenas diam nisl, scelerisque ut nunc 
				sit amet, semper posuere massa. Aliquam ac maximus ex. 
				Curabitur quis felis justo. Pellentesque tempus neque a ipsum
				malesuada imperdiet. Nunc cursus eget justo vitae vestibulum. 
				Nam porta augue in ipsum maximus ornare. Cras sed lacus turpis. 
				Aenean blandit lacus sit amet aliquet consectetur. Mauris eu 
				diam turpis. Aliquam quis semper eros.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quisque dignissim vel felis eget accumsan. Sed tincidunt ac 
				lectus at dictum. Aenean risus urna, finibus ac pulvinar vitae, 
				porta a risus. Nunc sem leo, egestas vitae nisi nec, eleifend 
				rhoncus est. Duis ultrices purus a volutpat hendrerit. In hac 
				habitasse platea dictumst. Aliquam erat volutpat. Donec tempus
				euismod tempus. Integer non diam vitae magna faucibus vulputate 
				id non quam. Mauris ut neque eget ante rutrum pulvinar eget 
				vitae mi. Integer sodales massa neque, ut elementum eros
				elementum ac. Fusce nulla nunc, consectetur ut pulvinar et, 
				efficitur vitae orci. Nunc molestie vehicula ipsum vitae tempus. 
			</p>
			<hr/>
		</div>
		<div id="family-section">
			<h2 class="section-header">Our Family</h2>
			<p> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
				sagittis ex quis ligula ornare, vitae dignissim lacus elementum.
				Curabitur luctus est eros. Donec faucibus, elit nec sollicitudin
				sodales, est nunc suscipit nulla, sit amet egestas eros arcu 
				sit amet nisi. Phasellus at ligula eget ligula dictum tempus 
				ac vitae lectus. Nulla ultrices ante et est tempus hendrerit. 
				Integer ac odio at arcu luctus finibus. Nulla nec ipsum diam. 
				Cras viverra elit leo, sit amet tincidunt enim vehicula non. 
				In accumsan, sem bibendum finibus aliquam, nibh purus consequat 
				ipsum, et posuere sem tellus et eros. Sed id gravida nisl. Duis
				dapibus purus a semper efficitur. Nulla ut eros vel sapien 
				facilisis lacinia et vitae nisi. Mauris commodo, odio nec 
				porta laoreet, arcu lectus eleifend sapien, sodales aliquam ex 
				ipsum eu justo. Morbi ullamcorper porttitor nisl, eu cursus 
				urna tempus faucibus.
			</p>
			<hr/>
		</div>
		<div id="rsvp-section">
			<h2 class="section-header">RSVP</h2>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please tell us if you will be attending below. If only some 
				members of your party will be coming, please let us know in the 
				notes.
			</p>
			<RSVP />
			<hr/>
		</div>
		
		
	</body>
</html>

<style define:vars={{ gardenBackground }}>

:root {
    --dark-blue-color: #0f1534;
    --light-blue-color: #345d87;
    --off-white-color: #ECECEC;
	--blue-green-color: #81c7a9;
	--brown-color: #625824;

}

html { 
  background: var(--gardenBackground) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	height: 100%;
    margin: 0;
	max-width: 1000px; /* Or a width in % or ch */
  	margin: 0 auto;    /* Centers the section */
	background-color: #ECECEC99;

}

p {
	padding: 0px 100px 0px 100px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.3rem;
}

hr {
	display: none;
border-bottom: 2px solid #606060; /* Darker charcoal option */  
width: 25%;
}

#main-header {
    align-items: center;     /* Centers vertically */
    background-color: var(--dark-blue-color);
	/* background-image: var(--gardenBackground); */
	background-size: cover;
	background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
	font-family: var(--font-header);
	font-size: 1.2rem;
	letter-spacing: 0.4rem;
	height: 22rem;
    justify-content: center; /* Centers horizontally */
	border-bottom-left-radius: 50% 20%;
	border-bottom-right-radius: 50% 20%;
	border-bottom: 30px groove var(--blue-green-color);

	
}

#sarah-main-name h2:first-of-type {
	margin-bottom: 0px;
	margin-top: 40px;
}

#sarah-main-name h2:last-of-type {
	margin-bottom: 0px;
}

#david-main-name h2 {
	margin-top: 0px;
	margin-bottom: 40px;
}


#welcome-section {
	align-items: center;
	padding-top: 2rem;
	text-align: center;
	font-family: var(--font-primary);
}

#story-section {
}

#rsvp-section {
	padding-bottom: 50px;
}


.center-image {
    display: block;
    margin: 0 auto;
}

.image-style-1 {
	border-radius: 8px;
	border: 3px solid var(--light-blue-color);
	margin-top: 15px;
	width: 700px;
	height: auto;
}

.section-header {
	text-align:left;
	font-size: 38px;
	margin: 0px;
	margin-left: 100px;
	color: var(--light-blue-color);
}


@media screen and (max-width: 1000px) {

.section-header {
	margin-left: 80px;
}
.image-style-1 {
	width: 500px;
	height: auto;
}

body {
	max-width: 90%;
}

}


@media screen and (max-width: 600px) {
  h2, h3 {
    font-size: 1.3rem; /* Adjust size for mobile */
    line-height: 1.4;
    /* padding: 0 20px; Prevents text from hitting screen edges */
  }
  p{
  padding: 0px 40px 0px 40px;

  }
  .section-header {
	margin: 0px;
	text-align: center;
  }
  .image-style-1 {
	width: 400px;
	height: auto;
  }

  body {
	max-width: 95%;
  }

}

</style>