---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--Not sure why all the provided favicon files are not linked here...-->
		<link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
		<link rel="manifest" href="public/favicon/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<title>Sarah and David's Wedding</title>
	</head>
	<body>
		<div id="main-header">
			<h2>SARAH ELIZABETH PR&Egrave;OT COVINGTON</h2>
			<h3>&</h3>
			<h2>DAVID JEFFREY ADAMS</h2>
		</div>
	</body>
</html>

<style>

:root {
    --dark-blue-color: #0f1534;
    --light-blue-color: #345d87;
    --off-white-color: #faf9f9;
}

body {
    margin: 0;
    background-color: var(--off-white-color);
}

#main-header {
    align-items: center;     /* Centers vertically */
    background-color: var(--dark-blue-color);
    color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center; /* Centers horizontally */
}

</style>