---
import { Font } from "astro:assets";

import IMG_gardenBackground from '../images/garden-background.webp';
const gardenBackground = `url("${IMG_gardenBackground.src}")`;

import RSVP from "../components/rsvp.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--Not sure why all the provided favicon files are not linked here...-->
		<link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
		<link rel="manifest" href="public/favicon/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<Font cssVariable="--font-header" />
		<Font cssVariable="--font-primary"	
		<title>Sarah and David's Wedding | July 11, 2026 @ 5 PM</title>
	</head>
	<body>
		<div id="main-header" >
			<div id="sarah-main-name">
				<h2>SARAH ELIZABETH</h2>
				<h2>PR&Egrave;OT COVINGTON</h2>
			</div>
			<h3>&</h3>
			<div id="david-main-name">
				<h2>DAVID JEFFREY ADAMS</h2>
			</div>
		</div>
		<div id="welcome-section">
			<h2>Saturday July 11th, 2026</h2>
			<h2>5 pm</h2>
		</div>
		<RSVP />
	</body>
</html>

<style define:vars={{ gardenBackground }}>

:root {
    --dark-blue-color: #0f1534;
    --light-blue-color: #345d87;
    --off-white-color: #faf9f9;
	--blue-green-color: #81c7a9;

}

body {
    margin: 0;
    background-color: var(--blue-green-color);
}

#main-header {
    align-items: center;     /* Centers vertically */
    background-color: var(--dark-blue-color);
	background-image: var(--gardenBackground);
	background-size: cover;
	background-position: center;
    color: var(--dark-blue-color);
    display: flex;
    flex-direction: column;
	font-family: var(--font-header);
	font-size: 1.3rem;
	letter-spacing: 0.6rem;
	height: 20rem;
    justify-content: center; /* Centers horizontally */
	
}

#sarah-main-name h2:first-of-type {
	margin-bottom: 0px;
	margin-top: 40px;
}

#sarah-main-name h2:last-of-type {
	margin-bottom: 0px;
}

#david-main-name h2 {
	margin-top: 0px;
	margin-bottom: 40px;
}


#welcome-section {
	align-items: center;
	padding-top: 2rem;
	text-align: center;
	font-family: var(--font-primary);
}


@media screen and (max-width: 800px) {
  h2, h3 {
    font-size: 1.3rem; /* Adjust size for mobile */
    line-height: 1.4;
    /* padding: 0 20px; Prevents text from hitting screen edges */
  }

}

</style>