---
// src/components/RSVPForm.astro
---

<div class="rsvp-container">
  
  <form id="rsvp-form" name="RSVP Form" data-netlify="true">
    <h2>Will you be attending?</h2>
    <label>
      Name:
      <input type="text" name="name" required />
    </label>
    
    <label>
      Will you attend?
      <select name="attendance" required>
        <option value="yes">Yes, I'll be there!</option>
        <option value="no">Sorry, I can't make it.</option>
      </select>
    </label>

    <label>
      Dietary Restrictions:
      <textarea name="dietary" placeholder="e.g. Vegan, Gluten-free"></textarea>
    </label>

    <button type="submit">Send RSVP</button>
  </form>
  
  <p id="response-msg">Thanks!</p>
</div>




<script>
  const form = document.getElementById('rsvp-form') as HTMLFormElement;
  const msg = document.getElementById('response-msg');

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    // const formData = new FormData(form);
    // //const data = Object.fromEntries(formData);

    // fetch("api/process-rsvp", { 
    //     method: 'POST',
    //     body: formData
    // });

    form.style.display = 'none';
    if (msg) msg.style.display = 'block';
  });
</script>

<style>

.rsvp-container {
    max-width: 360px;
    height: 400px;
    margin: .75rem auto 2rem auto;
    padding: 1.2rem;
    border: 3px solid var(--light-blue-color);
    border-radius: 8px;
    background-color: var(--dark-blue-color);
    color: var(--off-white-color);
    font-family: var(--font-primary);
}

#response-msg {
    margin-top: 180px;
    text-align: center;
    display: none;
    font-family: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 700;

}
  
form { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input, select, textarea { 
    padding: 0.5rem; 
    margin-top: 0.75rem; 
}

select {
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 0%;
}

button {
    padding: 12px;
    margin: 5px 10px auto 10px;
    background-color: var(--blue-green-color);
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

</style>