---
// src/components/RSVPForm.astro
---

<div class="rsvp-container">
  
  <form id="rsvp-form" action="POST" name="RSVP Form" data-netlify="true">
    <h2>Will you be attending?</h2>
    <label for="party">Choose party:
      <select name="party" id="party-members" size="1" required>
        <option value="--Select your party--" disabled selected />
        <option value="Adams, Mr. and Mrs. John"/>
        <option value="Adams, Mr. and Mrs. Stephen"/>
        <option value="Adams, Mr. and Mrs. Thomas"/>
        <option value="Adams, Mr. Robin / +1"/>
        <option value="Buxton, Ms. Sarah / +1"/>
        <option value="Causey, Ms. Ashley / +1"/>
        <option value="Cockerill, Mr. and Mrs. Jeffrey / Zoey"/>
        <option value="Covington, Dr. and Mrs. Samuel"/>
        <option value="Covington, Mr. and Mrs. Jonathan"/>
        <option value="Covington, Mr. and Mrs. Samuel / Ivor & Juno"/>
        <option value="Covington, Mr. Harrison / Reynolds, Ms. Mercer"/>
        <option value="Covington, Mr. Paul / +1"/>
        <option value="Covington, Mr. Thomas / +1"/>
        <option value="Covington, Mrs. Benjamin H."/>
        <option value="Covington, Ms. Kelly / +1"/>
        <option value="Crawford, Mr. and Mrs. Jeffrey"/>
        <option value="Davila, Mr. and Mrs. Jonathan"/>
        <option value="Fuller, Ms. Ashley / +1"/>
        <option value="Gandy, Ms. T. Ann / +1"/>
        <option value="Hubert, Mr. and Mrs. Micheal"/>
        <option value="Jellico, Mr. and Mrs. Jerry"/>
        <option value="Jenkins, Mrs. Theodore"/>
        <option value="Jordan, Mr. and Mrs. Antonio"/>
        <option value="Kaasa, Mr. and Mrs. Jesse"/>
        <option value="Kaasa, Peter / +1"/>
        <option value="Karst, Mr. and Mrs. Dustin"/>
        <option value="Knee, Mr. Ricky / Mrs. Amy DeStefanis"/>
        <option value="McFarland, Mr. John / Nile, Mrs. Susan"/>
        <option value="Nolan, Mr. Clint / Covington, Ms. Lauruh / Ruby & Max"/>
        <option value="Ordonez, Mr. and Mrs. Marco"/>
        <option value="Parish, Mr. and Mrs. Brandon"/>
        <option value="Price, Dr. Beth / Price, Mr. Kevin"/>
        <option value="Self, Mr. and Mrs. Shane"/>
        <option value="Smith, Mr. and Mrs. Donald / Smith, Ms. Anna"/>
        <option value="Smith, Ms. Maggie / +1"/>
        <option value="Stabile, Mr. and Mrs. Dominic"/>
        <option value="Stabile, Mr. Dominic / Williams, Ms. Patricia"/>
        <option value="Stabile, Ms. Nicki / +1"/>
        <option value="Terry, Mr. Chrisopher / +1"/>
        <option value="Whirley, Ms. Rebekah / +1"/>
        <option value="Willis, Mrs. Thomas / +1"/>
        <option value="Yaun, Mr. and Mrs. William"/>
        <option value="Yaun, Mr. Chris / +1"/>
      </select>
    </label>

    <label>
      Will you attend?
      <select name="attendance" id="attendance-selector" required>
        <option value="" disabled selected>--Select an option--</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </label>
    
    <label id="plus1-section">
      Will you be bringing a guest?
      <select name="plus1" id="plus1-selector">
        <option value="" disabled selected>--Select an option--</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </label>

    <label>
      Dietary Restrictions / Notes:
      <textarea name="dietary_additional" placeholder="e.g. Vegan, Gluten-free, Some party members won't be attending..." rows="5"></textarea>
    </label>

    <button type="submit">Send RSVP</button>
  </form>
  
  <p id="response-msg">Thanks!</p>
</div>

<script>
import { array } from "astro:schema";

  const form = document.getElementById('rsvp-form') as HTMLFormElement;
  const msg = document.getElementById('response-msg');
  const guestSelection = document.getElementById('party-members')
  const attendanceSelection = document.getElementById('attendance-selector')
  const plus1section = document.getElementById("plus1-section")
  const plus1selector = document.getElementById("plus1-selector")
  
  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    fetch("/", { 
        method: 'POST',
        body: formData
    });

    form.style.display = 'none';
    if (msg) msg.style.display = 'block';



  })

  // Make each option use value as text that displays
  Array.from(guestSelection.options).forEach(option => {
    option.innerHTML = option.value;
  })

  guestSelection?.addEventListener('input', function(e) {
    attendanceSelection.value = "";
    plus1section.style.display = 'none';
    plus1selector.value = "";

})

  attendanceSelection?.addEventListener ('input', function() {
    if (attendanceSelection.value === "yes" && guestSelection.value.includes("+1")) {
      plus1section.style.display = 'contents';
      plus1selector.required = true;
    } else {
      plus1section.style.display = 'none';
      plus1selector.required = false;
    }
  })

</script>

<style>

.rsvp-container {
    max-width: 360px;
    height: auto;
    margin: .75rem auto 2rem auto;
    padding: 1.2rem;
    border: 3px solid var(--light-blue-color);
    border-radius: 8px;
    background-color: var(--dark-blue-color);
    color: var(--off-white-color);
    font-family: var(--font-primary);
}

#response-msg {
    /* margin-top: 180px; */
    margin: 180px 0px 180px 0px;
    text-align: center;
    display: none;
    font-family: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 700;

}

#plus1-section {
  display: none;
}
  
form { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
    height: auto;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input, select, textarea { 
    padding: 0.5rem; 
    margin-top: 0.75rem; 
}

select {
    cursor: pointer;
    overflow-wrap: break-word;
}

option {
  overflow-wrap: break-word;
}

h2 {
    text-align: center;
    margin-bottom: 0%;
}

button {
    padding: 12px;
    margin: 5px 10px auto 10px;
    background-color: var(--blue-green-color);
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

</style>